{% extends 'base.html'%}



{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div style="align-self: center;">
    <div>
        <h1><b>recipe.id for recipe name</b></h1>
    </div>
</div>




<div style="align-items: center; align-self: center;">
    <br>
    <br>

    <div class="Review" style="align-items: center;">
        <br>

        <form action="">Review Header<br><Input></Input></form>
        <form action="">Your review <br> <textarea name="Your review" id="" cols="30" rows="10"></textarea></form>
        <form action="">Rating
            <br><Input></Input></form>
        <br>
        <button type="submit">Post!</button>

    </div>
</div>
{% endblock %}